/* Prevenir scroll horizontal en todo el módulo de grupos */
.grupos-container,
.grupos-container * {
    max-width: 100%;
}

.tamano_chat {
    /* Ajusta este valor según el espacio ocupado por otros elementos */
    height: calc(100vh - 128px)!important;
    /* Altura máxima para pantallas grandes */
    max-height: 810px!important;
    /* Altura mínima para pantallas pequeñas */
    min-height: 400px!important;
}


.margin-top-71 {
    margin-top: 65px;
    /* margin-left: 250px; */
}

.imagenFeddUno {
    background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCKi4vYLPeWlFhKz-xu2vUxec0O4srhER-tUMZTnfFuci4bvVxJ0qq0mhvMehdyaR9mlHYzCD8nOG9ghQEWvG7SF3LfPZo7Mo7VBRyVFs4nAZvRLLP1HZ8_xMibGqlZPxUg7yUhg4kumKZn5tb7FcXTPu7kMPCNKdYVvqfNi0Dnfpg5IPBdbpAjAWxCsXBmBjCNMh7YlJTrUcK1xh3SPLkTpOLDeuSRWcwa-JbRUPdMf10IBjczJQM6uOe8rauvDkPiVln6rneeY-8-");
}
.imagenFeddDos {
    background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAIcIfh197SK9cUNpSd2OIRAcM-KjFZA1aAsSrvffHbDaxX9SBKMT82jjLukXojexSTZSBArm_R3V8ba4hqPa8VVmsdoHkvmysqO7pIMUV8VmDGyPOnTRP_Dy0EYH-EslnHyL9koLySln6J47ZEES7pR1hD7hbH04cSX4VKyNaGiVBF8YkhU39U9HKcGxZwrdAEt74ZOl6IHclhqBLTuWRnvlEVG2c79Ii0m3K712zAUD5LLj_xf2h_Y71SBBJFL-buEgzUA5YIGIE_");
}